<ul style="list-style: none; ">
    <li><a href='/'>Home</a></li>
    <li><a href='/photo'>Photo</a></li>
    <li><a href='/video'>Video</a></li>
    <li><a href='/rescv'>Resume/CV</a></li>
    <li><a href='/curios'>Curiosities</a></li>
</ul>